@use "../../scss/" as *;

.details {
  background: $main-color;
  width: 100%;
  padding: 1rem;
  &__info {
    color: #fff;
    display: block;
    &__time {
      margin-bottom: 1rem;
      i {
        font-size: 1.5rem;
        color: #fff;
      }
      span {
        font-size: 1.5rem;
      }
    }

    &__code {
      font-size: 1.5rem;
      span {
        font-size: 1.5rem;
      }
    }
  }
}
.items-infor-card {
  @include flex(center, flex-start);

  @include mobile {
    display: block;
  }
  .items-info {
    padding: 1rem;
    width: 100%;

    @include flex(center, flex-start);

    @include mobile {
      border-bottom: 1px solid #ccc;
    }
    &__card {
      padding: 0 0.75rem;

      &__icon {
        @include flex(center, center);
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background: #a3d1fa;
        i {
          z-index: 1;
          font-size: 2rem;
          color: $main-color;
        }
      }
    }

    &__txt {
      margin: 0 20px;
      &__title {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 5px;
      }

      &__infor {
        font-size: 1.25rem;
        span {
          line-height: 24px;
          // display: block;
          font-size: 1.25rem;
        }

        &__name {
          display: block;
        }
      }
    }
  }
}

.detail-product {
  .order-product {
    &__btn {
      @include flex(flex-end, flex-end);
      margin: 20px 0;
    }
    &__tables {
      border-collapse: collapse;
      width: 100%;

      &__title {
        th {
          font-size: 1.25rem;
          font-weight: normal;
        }
      }

      &__row {
        td {
          font-size: 1.25rem;
        }

        img {
          height: 60px;
          margin-right: 2rem;
        }
      }
      &__image {
        @include flex(center, flex-start);
      }
    }

    &__tables td,
    &__tables th {
      border: 1px solid rgb(255, 255, 255);
      padding: 8px;
    }

    &__tables tr {
      background-color: #b9deff;
    }

    // &__tables tr:hover {
    //   opacity: 0.9;
    // }

    &__tables th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: $main-color;
      color: white;
    }

    &__total {
      margin-top: 1rem;
    }
  }
}
