@use "../../scss/" as *;

.address-card {
  width: 60%;
  &__infor {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow: hidden;
    position: relative;
    box-shadow: rgb(145 158 171 / 16%) 0px 4px 8px 0px;
    border-radius: 16px;
    z-index: 0;
    padding: 24px;

    margin-bottom: 24px;

    &__text {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__name {
        margin: 0px;
        font-weight: 600;
        line-height: 1.5;
        font-size: 1.5rem;
      }
      &__note {
        font-size: 1.25rem;
        margin-left: 4px;
        line-height: 1.57143;
        font-family: "Public Sans", sans-serif;
        font-weight: 400;
        color: rgb(99, 115, 129);
      }

      &__default {
        height: 24px;
        min-width: 22px;
        line-height: 0;
        border-radius: 6px;
        cursor: default;
        align-items: center;
        white-space: nowrap;
        display: inline-flex;
        justify-content: center;
        text-transform: capitalize;
        padding: 0px 8px;
        color: rgb(0, 108, 156);
        font-size: 1.25rem;
        background-color: rgba(0, 184, 217, 0.16);
        font-weight: 700;
        margin-left: 8px;
      }
    }

    &__address {
      p {
        margin: 0px;
        line-height: 1.57143;
        font-size: 1.25rem;
        font-weight: 400;
      }
    }

    &__btn-deliver {
      @include flex(flex-end, flex-end);
    }

    &__btn-del {
      font-size: 2rem;
      color: red;
      cursor: pointer;
      i {
        margin-right: 40px;
      }
    }

    &__btn-new {
      margin-right: 30px;
      @include flex(flex-end, flex-end);
    }
  }
}
