@use "../../scss/" as *;

.overlay {
  z-index: 99;
  @include flex(center, center);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  margin-top: 4.5rem;

  .feedback-users {
    // position: absolute;
    // visibility: hidden;
    // opacity: 0;
    width: 50%;
    height: 80%;
    top: 0;
    left: 0;
    z-index: 9;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 20px;
    background-color: #fff;
    // transform: scale(0.9);
    // transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    backface-visibility: hidden;
    animation: modalComeIn ease 0.5s;
    @include tablet {
      width: 80%;
      height: 55%;
    }
    @include mobile {
      border-radius: 5px;
      width: 90%;
      height: 90%;
    }

    .feedback-header,
    .feedback-content {
      padding: 1.5rem;
    }
    .feedback-header {
      color: #fff;
      background-color: $main-color;
      height: 100px;
      @include mobile {
        height: 80px;
      }
    
      .title {
        margin-top: -2rem;
        font-weight: 600;
        font-size: 24px;
        // text-transform: uppercase;
        @include tablet {
          text-align: center;
        }
        @include mobile {
          font-size: 2rem;
        }
      }
      .txt {
        line-height: 1.5;
        font-size: 1.25rem;
      }
      .close-btn {
        text-align: right;
        // margin-bottom: 10px;
       
      }
      .close-btn i {
        cursor: pointer;
        font-size: 3rem;
        @include tablet {
          font-size: 3rem;
        }
       
      }
      @include mobile {
        
      text-align: center;
        i {
          font-size: 1rem;
        }
      }
    }
  
   .feedback-content {
      .forms {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        @include tablet {
          font-size: 16px;
        }

        .forms-input {
          margin-bottom: 1rem;
        }
        label {
          font-size: 1.25rem;
          display: inline-block;
          margin-bottom: 10px;
          font-weight: 600;
          color: $txt-main-color;
          @include flex(flex-start, flex-start);
          @include tablet {
            font-size: 18px;
          }
        }
        input,
        textarea {
          background-color: #f5f9fb;
          outline: none;
          border: none;
          padding: 10px 12px;
          display: block;
          width: 100%;
          border-radius: 5px;
          font-size: 1.25rem;
          border: 1px solid transparent;
          &::placeholder {
            color: #b1b1b1;
          }
          &:focus {
            border-color: $main-color;
          }
        }
        textarea {
          resize: none;
        }
        .forms-input-province {
          margin-top: 10px;
          @include flex(flex-start, space-between);

          @include mobile {
            display: block;
            
          }
        }

        .listAddress {
          max-height: 200px;
          padding: 0 5px;
          overflow-y: scroll;
          box-shadow: 0.2px 0.2px 0.9px;
          @include tablet {
            margin-bottom: 10px;
            
          }
          li {
            list-style-type: none;
            text-align: left;
            &:hover {
              background-color: #dadada;
              cursor: pointer;
            }
          }
        }
      }

      .btn-feedback {
        @include flex(center, space-between);
        .bg-main {
          font-size: 15px;
        }
      }
    }
  }
}

@keyframes modalComeIn {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
