@use "../../scss/" as *;

.input-component {
  outline: none;
  background-color: $main-bg;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  width: 400px;
  border: 1px solid $main-color;
  // border-radius: 10px;
  color: $txt-main-color;
  font-family: Roboto, serif;
  margin: auto;
  margin-right: 2px;
  // margin-bottom: 20px;
}
