@use "../../scss/" as *;

.footer {
  padding: 70px 0;
  box-shadow: $box-shadow;
  font-size: 1.25rem;

  &__logo {
    height: 38px;
  }

  &__about {
    p {
      margin-bottom: 2rem;
      text-align: justify;

      img {
        @include mobile {
          margin-left: 140px;
        }
      }
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 600;
    @include mobile {
      @include flex(center, center);
    }
  }

  &__content {
    @include mobile {
      @include flex(center, center);
    }
    p {
      margin-bottom: 1.25rem;
    }
  }
}
