@use "../../scss/" as *;

.wrapper {
  // position: relative;
  // width: 450px;
  // margin: 0 auto;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  --color-yellow: #ffcc48;
  --color-border: #f4f4f4;
  .bxs-star,
  .bx-star,
  .bxs-star-half {
    color: var(--color-yellow);
    font-size: 1.5rem;
  }
  .rating-box {
    background-color: #fff;
    padding: 1rem 2rem 2rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px #e6e6e6;
    width: 100%;
  }
  .rating-header {
    .title {
      text-align: center;
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 16px;
      text-transform: capitalize;
    }
  }
  .info-review {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-border);
    margin: 0 -2rem;
    padding: 20px 2rem;

    .left {
      display: flex;
      flex-grow: 1;
      margin-right: 10px;
      @include flex(center, flex-start);
      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
      }
      .text-container {
        margin: 0 8px;
        font-weight: 600;
        width: 100%;
        line-height: 20px;
      }
      .txt,
      .author {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-word;
      }
      .txt {
        font-weight: normal;
        -webkit-line-clamp: 2;
        color: $txt-second-color;
      }
      .author {
        -webkit-line-clamp: 1;
        color: black;
      }
    }
    .right {
      text-align: right;
      font-weight: 600;
    }
  }
  .info-rating {
    padding: 20px 0;
    font-size: 12px;
    font-weight: 500;
    color: $txt-second-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .avg {
      color: $txt-main-color;
      font-weight: 700;
      font-size: 28px;
    }
    .rating-count {
      margin-top: 5px;
      text-align: right;
    }
  }
  .rating-bar {
    width: 450px;
    .bar-item {
      display: flex;
      align-items: center;
      font-size: 14px;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    .star {
      i {
        margin-left: 5px;
      }
    }

    .star,
    .percent {
      color: $main-color;
      flex-shrink: 0;
    }
    .progress {
      flex-grow: 1;
      margin: 0 10px;
      height: 8px;
      border-radius: 5px;
      overflow: hidden;
      background: #f5f8ff;
    }
    .progress-line {
      height: 100%;
      width: 0%;
      transition-delay: 0.5s;
      transition: all 0.4s ease-in;
      background-color: var(--color-yellow);
    }
  }

  .review-box {
    padding: 30px 0 0;
  }
  .review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $txt-second-color;
    margin-bottom: 15px;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    //     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .count-review span {
      margin-right: 5px;
    }
    .txt {
      font-weight: 600;
      cursor: pointer;

      .bx-edit-alt {
        font-size: 1.25rem;
        margin-right: 10px;
      }
    }
  }
  .review-content {
    max-height: 250px;
    overflow-y: auto;
    padding-right: 5px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      visibility: hidden;
      border-radius: 10px;
      background-color: #ebebeb;
    }
    &:hover {
      &::-webkit-scrollbar-thumb {
        visibility: visible;
      }
    }
    .user-review {
      &:not(:last-child) {
        margin-bottom: 15px;
        border-bottom: 1px solid var(--color-border);
        padding-bottom: 15px;
      }
    }
    .user-rating {
      display: flex;
      justify-content: space-between;
    }
    .stars {
      font-size: 14px;
    }
    .comment-content:not(:empty) {
      padding: 10px 0;
      color: $txt-second-color;
      font-size: 1.125rem;
    }
    time {
      color: $txt-second-color;
      // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      //     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      //     sans-serif;
      font-size: 1rem;
    }
  }
}
